.segment .guide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5vh 10vw;
}

.segment .guide {
    width: 120px;
    height: 150px;
    padding: 2vh 2vw;
}

.segment .guide .caption {
    width: 120px;
    height: 30px;
}