.page {
    height: 100vh;
    margin-left: 305px;
    color: white;
    display: flex;
  }

.map {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map iframe {
    height: 50vh;
    width: 30vw;
    margin: 5vh 5vw;
}